* {
	padding: 0px;
	margin: 0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.body {
    background-color: #005680;
}

.page {
	background-color: #278FC2;
}

.header {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(to bottom, #005680, #278FC2);
    text-align: center;
}

.logo {
    height: 80%;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    font-size: 2rem;
    color: #ECECEC;
    margin-left: 30px;
    margin-right: 30px;
    transition-duration: 200ms;
}

.navbar a:hover {
    color: #AEAEAE;
}

.separator {
    width: 10px;
	height: 10px;
    margin-bottom: 5px;
	background-color: #ECECEC;
	border-radius: 50%;
	display: inline-block;
}

content {
    margin-top: 50px;
    max-width: 800px;
    margin-left: calc(calc(100% - 800px) / 2);
    display: block;
}

content h1 {
    color: #ECECEC;
    font-size: 3em;
    margin-top: 60px;
    margin-bottom: 20px;
}

content h2 {
    color: #ECECEC;
    font-size: 2.5em;
    margin-top: 60px;
    margin-bottom: 20px;
}

content p {
    color: #DCDCDC;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
}

.footer {
    margin-top: 50px;
    margin-bottom: 0px;
    height: 80px;
    width: 100%;
    background-image: linear-gradient(to top, #005680, #278FC2);
    text-align: center;
}

.footer p {
    padding-top: 35px;
    color: #ECECEC;
    font-size: 1.2em;
}